<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/tailwind.css">
</head>
<body>
    <div class="flex min-h-screen bg-gray-100">
        <div class="w-full lg:w-1/2 flex items-center justify-center px-6 py-12 lg:px-8">        
            <div class="w-full max-w-md space-y-8">
                <div class="text-center">
                    <img src="../public/img/icono.png" alt="" class="mx-auto h-20 w-20">
                    <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Iniciar sesión</h2>
                    <p class="mt-2 text-sm text-gray-600">O  
                        <a href="" class="font-medium font- text-indigo-600 hover:text-indigo-500">registrate si no tienes una cuenta</a>
                    </p>
                </div>
                <form class="mt-8 space-y-6">
                    <div class="space-y-4 rounded-md shadow-sm">
                        <div>
                            <label for="email" class="sr-only text-pink-950">Correo electrónico</label>
                            <input type="email" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Correo electrónico">
                        </div>
                        <div>
                            <label for="password" class="sr-only">Contraseña</label>
                            <input type="password" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Contraseña">
                        </div>
                    </div>

                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <input type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                            <label for="remember-me" class="ml-2 block text-sm text-gray-900">Recuérdame</label>
                        </div>

                        <div class="text-sm">
                            <a href="" class="font-medium text-indigo-600 hover:text-indigo-500">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2  focus:ring-offset-2 focus:ring-indigo-500">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="hidden lg:block lg:w-1/2">
            <img src="../public/img/img-messages.png" alt="" class="w-full h-full">
        </div>

</body>
</html>