<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration Forms</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="../public/css/tailwind.css" rel="stylesheet">
</head>
<body class="font-figtree">
    <div class="flex min-h-screen bg-gray-100">
        <div class="w-full lg:w-1/2 flex items-center justify-center px-6 py-12 lg:px-8">
            <div class="w-full max-w-md space-y-8">
                <div class="text-center">
                        <img src="../public/img/icono.png" class="mx-auto h-24 w-24" id="profilePicturePreview">
                    <h2 id="form-title" class="mt-6 text-3xl font-extrabold text-gray-900">Iniciar sesión</h2>
                    <p class="mt-2 text-sm text-gray-600">
                        O <button id="toggle-form" class="font-medium text-blue-600 hover:text-blue-500">regístrate si no tienes una cuenta</button>
                    </p>
                </div>
                <!-- Incluir el formulario de login -->
                <%- include('partials/login-form') %>

                <!-- Incluir el formulario de register -->
                <%- include('partials/register-form') %>

            </div>
        </div>

        <!-- Incluir el carrusel  -->
         <%- include('partials/carousel') %> 

    </div>
<script src="../public/js/changeForm.js"></script>
<script src="../public/js/togglePasswordLogin.js"></script>
<script src="../public/js/toggleRegisterPassword.js"></script>
<script src="../public/js/sliderImag.js"></script>
<script src="../public/js/loginForm.js"></script>
<script src="../public/js/registerForm.js"></script>
<script src="../public/js/profilePictureFormRegister.js"></script>
</body>
</html>